html {
  scroll-behavior: smooth;
}


.what-i-do{
    margin-top: 90px;
    text-align: center;
    font-size: x-large;
    color: black;
    
}

.typed-animation {
    display: inline-block;
    overflow: hidden;
    animation: typed-animation 3s steps(11) infinite;
  }
  
  @keyframes typed-animation {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 577px) and (max-width: 992px) {
    .skill-container {
      display: grid;
      grid-template-columns: repeat(1,200px);
      justify-content: center;
    }
  }
  
  

  
